<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
    </staticContent>
    <defaultDocument>
      <files>
        <clear/>
        <add value="LoginPage2.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off" defaultRedirect="LoginPage2.aspx"></customErrors>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <location path="Products">
    <system.web>
      <authorization>
        <allow roles="P"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=USER-PC;Initial Catalog=TEST;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<configuration>
    <system.web>
      <customErrors mode="RemoteOnly" defaultRedirect="LoginPage2.aspx"/>
    </system.web>
  </configuration>-->
</configuration>
<!--ProjectGuid: 33988A02-B27A-4C4E-948E-F7DED7FE8349-->